body {
  background-color: rgb(139, 32, 86);
}

h1 {
  text-align: center;
  color: white;
  letter-spacing: 5px;
}
.todoContainer {
  width: 40%;
  margin: 0 auto;
}
.input {
  background-color: transparent;
  border: 0;
  outline: none;
  width: 100%;
  font-size: 20px;
}
.todoList {
  margin-top: 30px;
}
.todoItem,
.inputContainer {
  background-color: rgb(211, 186, 186);
  padding: 15px;
  margin: 5px 0;
}
.todoItem p {
  display: inline;
  margin-left: 15px;
  font-size: 1.1rem;
}
.toggleTask {
  background-color: rgb(255, 78, 34);
  text-decoration: line-through;
  color: gray;
}
.allTask {
  color: rgb(0, 253, 34);
  font-weight: lighter;
}
.todoFooter {
  margin: 20px 0;
}
.todoFooter div {
  margin: 10px 0;
}
.linkFooter {
  cursor: pointer;
}

.linkdelete:hover {
  color: red;
}
.todoFooterStats {
  color: rgb(153, 149, 149);
  display: flex;
  justify-content: space-between;
}
